/* GanttChart.css */
.gantt-container {
  display: flex;
  height: 90vh;
  width: 100vw;
  overflow-y: auto;
}

.staff-table {
  /* Style your left table for staff here */
  width: 200px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.timeline {
  z-index: 2;
}

.chart {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;

}

.chart-area {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.chart-area-guideline {
  position: absolute;
  top: -1px;
  width: 2px;
  border-right: 2px dashed rgba(0, 0, 0, 0.568);
  z-index: 1;
  pointer-events: none;
}

.chart-area-scaler {
  position: absolute;
  top: -1px;
  width: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.568);
  z-index: 1;
  pointer-events: none;
}

.chart-area-scaler-title {
  width: 140px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 2px;
  background-color: teal;
  color: white;
  font-size: 12px;
}

.blink {
  /* background-color: #e6f7ff; */
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  0% {
   background: #e6f7ff;
  }
  20% {
    background: #3881a2
    }
  50% {
    background: #144f6a;
  }
  80% {
    background: #3881a2;
  } 
  100% {
    background: #e6f7ff;
  }
}