.timeline-content{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 70px
}
.timeline-tick{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timeline-tick-day{
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
.timeline-tick-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline-date{
    height: 30px;
}
.middle-tick{
    height: 20px !important;
    border-width: 2px !important;
}
.timeline-tick-month{
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    box-sizing: border-box;
    height:18px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.timeline-tick-hour-container{
    display: flex;
    align-items: end;
    height: 20px;
    justify-content: center;
}
.timeline-tick-hour{
    border-right: 1px solid;
    box-sizing: border-box;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-tick-hour:last-child{
    border-right: none;
}
.timeline-tick-day:first-child{
    border-left: 1px solid;
}
.timeline-tick-month:first-child{
    border-left: 1px solid;
}